$font: 'Open Sans', sans-serif;
$darkblue: #284a6f;
@mixin link($color){
    color: $color;
    text-decoration:none;
}
//@mixin look ($width,$height,$font-weight,$margin-bottom){
//    width: $width;
//    height: $height;
//    font-family: $font-weight;
//    margin-bottom: $margin-bottom ;      
//}
.Recent_Blog{
width: 1170px;
margin-left: 115px;
margin-right: 117px;
 .titl { 
    width: 391px;
    height: 45px;
    font-family: $font;
    font-size: 45px;
    font-weight: bold;
//    line-height: 1.04;
    text-align: left;
    color:$darkblue;
    margin-left: 423px;
    margin-bottom: 80px;
    margin-right: 508px;
    text-align: center;
    }
.picture{
        display: flex;
        justify-content:space-between;
        align-items: center;
        .first{
            box-shadow: 0px 3px 18px 0 rgba(0, 153, 255, 0.1);
            background-color: #ffffff;
             height: 641px;
             width: 670px;
                 .text1{
                    margin-top: 45px;
                    margin-bottom: 30px;
                    //width: 325px;
                    height: 17px;
                    font-family: $font;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 2.94;
                    text-align: left;
                    color: #000000;
                       }
                .text_girl{
                 width: 616px;
                 height: 65px;
                 font-family: $font;
                 font-size: 16px;
                 line-height: 1.5;
                 text-align: left;
                 color: #000000;
                  a {
                      @include link(aqua);
                      &:hover { text-decoration: underline; }
                  }
                            }
}
        .second{
            height: 641px;
            width: 470px;
            box-shadow: 0px 3px 18px 0 rgba(0, 153, 255, 0.1);
      background-color: #ffffff;
               .text2{
                  margin-top: 37px;
                margin-bottom: 20px;
                  width: 280px;
                  height: 17px;
                  font-family: $font;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 1.5;
                  text-align: left;
                  color: #000000;
                     }
              
             .text_pen{
                width: 372px;
                height: 41px;
                font-family: $font;
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
                color: #000000;
                 margin-bottom: 62px;
                   a {
                      @include link(aqua);
                      &:hover { text-decoration: underline; }
                  }
                     }
              .text_guys{
                 width: 392px;
                 height: 17px;
                 font-family: $font;
                 font-size: 16px;
                 line-height: 1.5;
                 text-align: left;
                 color: #000000;
                    a {
                      @include link(aqua);
                      &:hover { text-decoration: underline; }
                  }
                     }
    }
    }
    }