body {
  font: 100% Helvetica, sans-serif;
  color: #333; }


.Background {
  display: flex;
  justify-content: center;
  width: 1402px;
  height: 118px; }

.Our-Features {
  width: 300px;
  height: 32px;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.04;
  text-align: left;
  color: #284a6f; }

.icons1 {
  display: flex;
  justify-content: space-around;
  width: 1402px;
  //height: 50px;
  margin-bottom: 50px; 
  }

.Ellipse11 {
  width: 79px;
  height: 79px;
  //background-color: #0099ff;
  //border: solid 2px #0099ff; 
  }

.Ellipse22 {
  width: 79px;
  height: 79px;
  //background-color: #0099ff;
  //border: solid 2px #0099ff; 
  }

.Ellipse33 {
  width: 79px;
  height: 79px;
  //background-color: #0099ff;
  //border: solid 2px #0099ff; 
}

.GCS {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 441px;
  height: 200px; }

.TF {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 519px;
  height: 200px; }

.R {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  height: 200px; }

.TT {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 441px;
  height: 200px; }

.PM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 519px;
  height: 200px; }

.quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  height: 200px; }

.Good-Customer-Service {
  //width: 276px;
  height: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.96;
  text-align: left;
  color: #284a6f; }

.Targeted-Features {
  //width: 217px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.96;
  text-align: left;
  color: #284a6f; }

.Responsive {
  //width: 132px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.96;
  text-align: left;
  color: #284a6f; }

.Loremipsum {
  width: 282px;
  height: 89px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #999999; }

.Time-Tracking {
  width: 170px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.96;
  text-align: left;
  color: #284a6f; }

.Ellipse44 {
  width: 79px;
  height: 79px;
  //background-color: #0099ff;
  //border: solid 2px #0099ff; 
  }

.Ellipse55 {
  width: 79px;
  height: 79px;
  //background-color: #0099ff;
  //border: solid 2px #0099ff; 
}

.Parallax-Menu {
  width: 175px;
  height: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.96;
  text-align: left;
  color: #284a6f; }

.Rectangle-2 {
  width: 281px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #284a6f;
  box-shadow: 0px 5px 20px 0 rgba(40, 74, 111, 0.27); }

.right-arrow {
  width: 49px;
  height: 36px;
  background-color: #ffffff; }

.MORE-FEATURES {
  width: 140px;
  height: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.94;
  text-align: left;
  color: #ffffff; }
/*# sourceMappingURL=style.css.map */
