/* ---------- Footer section ---------- */
$warm-grey-two: #999999;
$black-two: #303030;

/*phone, portrait view, one column*/
footer {
  box-sizing: border-box;
  min-height: 259px;
  padding: 2%;
  background-color: $black-two;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  #footer-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    a {
      color: #FFF;
      /* temp */
      font-weight: normal;
      text-decoration: none;
      margin-bottom: 3px;
      &:hover {
        color: $warm-grey-two;
      }
      img {
        width: 96%;
        max-width: 283px;
        &:hover {
          background: $warm-grey-two;
        }
      }
    }
  }
  #social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 205px;
    li {
      font-size: 20px;
      color: #FFF;
      /* temp */ font-weight: normal; padding: 0px;
      border: 1px solid #FFF;
      border-radius: 50%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: $warm-grey-two;
      }
      a {
        line-height: 40px;
        width: 40px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  p {
    font-size: 10px;
    color: $warm-grey-two;
    text-align: center;
  }
}

/*tablet, landscape view*/
@media screen and (min-width: 600px) {
  footer {
    padding: 40px 5% 63px 8.1%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    #footer-bar {
      flex-flow: row wrap;
      justify-content: space-between;
      white-space: nowrap;
      li {
        /* temp */ font-weight: normal; padding: 0px;
        &:first-child {
          width: 83.8vw;
          height: 68px;
        }
      }
    }
    p {
      margin-left: auto;
      text-align: right;
      font-size: 14px;
    }
  }
}
/*laptop and desktop*/
@media screen and (min-width: 900px) {
  footer {
    padding: 60px 5% 77px 8.1%;
    #footer-bar {
      flex-flow: row nowrap;
      width: 100%;
      li {
        margin-left: 3%;
        &:first-child {
          width: 283px;
          height: 41px;
          margin-right: auto;
          margin-left: 0px;
        }
        a {
          white-space: nowrap;
        }
      }
    }
  }
}
/* ---------- End of Footer section ---------- */