.ground {
  width: 1170px;
  margin-left: 115px;
  margin-right: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.title {
  font-family: OpenSans;
  font-size: 3.5vw;
  font-weight: bold;
  line-height: 1.04vw;
  text-align: center;
  color: #284a6f;
  /*color: var(--dark-slate-blue);*/
  }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 640px) {
    display: flex;
    flex-flow: column wrap;
  }
}

.video {
  width: 58.3vw;
  height: 89vh;
  opacity: 0.65;
  background-color: #0099ff;
  /*background-color: var(--azure);*/
 }

.banner {
  width: 41.7vw;
  height: 50vh;
  margin-top: 41px;
  background-color: #fafafa;
  /*background-color: var(--white-two);*/
  display: flex;
  flex-direction: column; 
  flex-wrap: no-wrap;
  justify-content: center;
  padding-left: 57px;
  align-items: left;
}

.text {
  width: 33.3vw;
  font-family: OpenSans;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  /*color: var(--black);*/
  box-sizing: border-box;
  display: flex;
}