.top-bar {
  width: 100%;
  height: 52px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  background-color: #303030;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 0% 8.5%;
  a {
    margin-right: 4.5%;
    color: #ffffff;
    text-decoration: none;
    &:last-child {
      margin-left: auto;
    }
    &:hover {
      color: #03a6f2;
    }
    &:active {
      color: #ffffff;
      background-color: #03a6f2;
    }
  }
}
        