/* ----------Top Bar section----------- */
#topbar {
  min-height: 52px;
  background-color: #303030;
  padding: 2% 5% 2% 8.5%;
  ul {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    li {
      margin-right: 4.5%;
      font-family: "Open Sans", sans-serif;
      /* temp */ padding: 0px;
      &:last-child {
        margin-left: auto; 
      }
      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        &:hover {
          color: #999999; 
        }
      }
    }
  }
}
/* ---------- End of Top Bar section----------- */      

