//Colors
$logoazure: #03a6f2;
$logogrey: #999999;
$green: #00d664;//shamrock-green
$menutext: #0099ff; //azure

//Font
$font: 'Open Sans', sans-serif;

//Brakpoints
$phonesize: 599px; //for-phone-only
$tabletportr: 600px; // for-tablet-portrait-up
$tabletlands: 900px; //for-tablet-landscape-up
$desktopsize: 1200px; ////for-desktop-up
