//Colors
$logoazure: #03a6f2;
$grey: #999999;
$green: #00d664;//shamrock-green
$azure: #0099ff; //azure
$darkblue: #284a6f; //darkblue for h1

//Font
$font: 'Open Sans', sans-serif;

//Brakpoints
$tabletportr: 600px; // for-tablet-portrait-up
$tabletlands: 900px; //for-tablet-landscape-up
$desktopsize: 1200px; ////for-desktop-up
