body {
  margin: 0; }

p {
  margin: 0;
  paddind: 0; }

body, div, h1, h2, p {
  box-sizing: border-box; }

.top-bar {
  width: 100%;
  height: 52px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  background-color: #303030;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 0% 8.5%; }
  .top-bar a {
    margin-right: 4.5%;
    color: #ffffff;
    text-decoration: none; }
    .top-bar a:last-child {
      margin-left: auto; }
    .top-bar a:hover {
      color: #03a6f2; }
    .top-bar a:active {
      color: #ffffff;
      background-color: #03a6f2; }

body {
  font-family: "Open Sans", sans-serif; }

.upper {
  text-transform: uppercase; }

.whitetext {
  color: white; }

.logoflex {
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ulflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

div.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px; }

ul {
  list-style: none; }

ul li {
  display: inline-block;
  padding: 0 12px;
  font-weight: bold;
  color: #0099ff; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-shadow: 0 0 1px; }

button.button {
  width: 145px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #00d664;
  border: 0;
  font-weight: bold; }

button.button:hover {
  box-shadow: 1px 1px 5px grey; }

#logo {
  width: 35px;
  height: 41px;
  margin-right: 5px; }

.companyName {
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #03a6f2; }

.text-style-1 {
  color: #999999; }

@media (min-width: 600px) {
  .companyName {
    font-size: 24px; } }
@media (min-width: 900px) {
  .companyName {
    font-size: 26px; } }
@media (min-width: 1200px) {
  .logoflex {
    flex-direction: row; }

  .companyName {
    font-size: 32px; } }
div.mobapp {
  width: 100%;
  height: 645px;
  background: url(../img/worldmap-transp.png) center repeat-x, url(../img/worldmap-dots2.png) right no-repeat;
  display: flex;
  flex-direction: row;
  padding-left: 8%; }

div.half1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  border: 1px solid grey; }

h1.h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.04;
  text-align: left;
  color: #284a6f; }

.content {
  max-width: 485px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #999999; }

.bigdata {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #0099ff; }

.aflex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 40px; }

div.mobile1 {
  padding-right: 25px;
  border-right: 1px solid #999999; }

div.mobile2 {
  padding-left: 25px; }

div.appstore {
  padding-right: 35px;
  font-weight: bold;
  font-size: 14px; }

div.playmarket {
  font-weight: bold;
  font-size: 14px; }

img.icon {
  vertical-align: middle; }

div.half2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 50%; }
