/*
Error: Invalid CSS after "...'banner-slider'": expected selector or at-rule, was "@import 'mobile';"
        on line 8 of style/style.scss

3: @import 'variables';
4: @import 'blog';
5: @import 'top';
6: @import 'topnav';
7: @import 'banner-slider'
8: @import 'mobile';
9: @import 'footer';
10: @import 'people';
11: @import 'features';

Backtrace:
style/style.scss:8
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby24/lib/ruby/gems/2.4.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
C:/Ruby24/bin/sass:22:in `load'
C:/Ruby24/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...'banner-slider'\": expected selector or at-rule, was \"@import 'mobile';\"\A         on line 8 of style/style.scss\A \A 3: @import 'variables';\A 4: @import 'blog';\A 5: @import 'top';\A 6: @import 'topnav';\A 7: @import 'banner-slider'\A 8: @import 'mobile';\A 9: @import 'footer';\A 10: @import 'people';\A 11: @import 'features';"; }
